In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [2]:
print("this is my python progra")

this is my python progra

In [3]:
1+2

3

In [4]:
c = "sudh"

In [5]:
type(c)

str

In [6]:
d = 5+ 6j

In [7]:
d

(5+6j)

In [8]:
type(d)

complex

In [10]:
d.imag

6.0

In [11]:
d.real

5.0

In [12]:
a = "sudh"

In [14]:
a +4

TypeError: can only concatenate str (not "int") to str

In [15]:
a +a

'sudhsudh'

In [16]:
a + str(4)

'sudh4'

In [17]:
True + True

2

In [19]:
a = input()

56

In [20]:
type(a)

str

In [21]:
int(a)+ 45

101

In [22]:
id(a)

2534630117872

In [23]:
s = "sudh"

In [24]:
type(s)

str

In [25]:
s[0]

's'

In [26]:
s[::-1]

'hdus'

In [30]:
for i in range(len(s)-1,-1,-1):
    print(s[i])

h
d
u
s

In [31]:
len(s)

4

In [32]:
s[1]

'u'

In [33]:
s[0]

's'

In [34]:
len(s)

4

In [38]:
for i in range(len(s)-1,-1,-1):
    print(i)

3
2
1
0

In [42]:
s[-3]

'u'

In [43]:
s[-1]

'h'

In [44]:
s

'sudh'

In [45]:
s[-4]

's'

In [47]:
s[1]

'u'

In [52]:
s = "sudh"
for i in len(s):
    print(i)

TypeError: 'int' object is not iterable

In [53]:
a = len(s)

In [54]:
a

4

In [55]:
type(a)

int

In [58]:
b = range(4)

In [59]:
type(b)

range

In [69]:
a = "sudh"
for i in range(len(a)-1,-1,-1):
    print(i)

3
2
1
0

In [71]:
len(a)-1

3

In [72]:
a[0]

's'

In [73]:
a[0:100]

'sudh'

In [74]:
a[100]

IndexError: string index out of range

In [75]:
a[0:100]

'sudh'

In [77]:
a[-1:-4]

''

In [81]:
a[-1:-5:-1]

'hdus'

In [79]:
a

'sudh'

In [82]:
a[0:4:-1]

''

In [83]:
a[0:4:1]

'sudh'

In [84]:
a[-1:-100:-1]

'hdus'

In [85]:
a[-1::-1]

'hdus'

In [90]:
for i in range(len(a)-1,-1,-1):
    print(i)

3
2
1
0

In [91]:
a[-2:]

'dh'

In [92]:
a[::-1]

'hdus'

In [93]:
"sudh" *3

'sudhsudhsudh'

In [94]:
a.find('a')

-1

In [95]:
a.find('dh')

2

In [96]:
a.find('us')

-1

In [97]:
a.find('hh')

-1

In [98]:
a.count('i')

0

In [99]:
a.count('s')

1

In [100]:
a= 'I am working with cg'

In [101]:
a.split()

['I', 'am', 'working', 'with', 'cg']

In [102]:
type(a.split())

list

In [103]:
l = a.split()

In [104]:
l

['I', 'am', 'working', 'with', 'cg']

In [105]:
l[0]

'I'

In [106]:
l[::-1]

['cg', 'with', 'working', 'am', 'I']

In [107]:
a[-1::-1]

'gc htiw gnikrow ma I'

In [108]:
a

'I am working with cg'

In [109]:
a.split('wo')

['I am ', 'rking with cg']

In [110]:
a.upper()

'I AM WORKING WITH CG'

In [111]:
a.lower()

'i am working with cg'

In [112]:
a.swapcase()

'i AM WORKING WITH CG'

In [113]:
a.title()

'I Am Working With Cg'

In [114]:
a.capitalize()

'I am working with cg'

In [115]:
b = "sudh"
d = "ineuron"

In [116]:
b.join(d)

'isudhnsudhesudhusudhrsudhosudhn'

In [117]:
b.join(" ")

' '

In [118]:
" ".join(b)

's u d h'

In [119]:
reversed('sudh')

In [120]:
for i in reversed('sudh'):
    print(i)

h
d
u
s

In [129]:
s = " sudh kumar "

In [132]:
s = " sudh kumar "
s.rsplit(sep = "u" )

[' s', 'dh k', 'mar ']

In [135]:
s.replace('u', ' xyz ')

' s xyz dh k xyz mar '

In [137]:
s.rstrip()

' sudh kumar'

In [138]:
s.lstrip()

'sudh kumar '

In [139]:
s = "sudh"

In [144]:
s.center(40 , "*")

'******************sudh******************'

In [145]:
s.isupper()

False

In [146]:
s.islower()

True

In [147]:
s.isdigit()

False

In [148]:
s = "123"

In [149]:
s.isdigit()

True

In [150]:
s.endswith('s')

False

In [151]:
s.endswith('h')

False

In [152]:
s.endswith('3')

True

In [153]:
s.startswith('s')

False

In [154]:
s.istitle()

False

In [155]:
s.isalpha()

False

In [156]:
s = "krishna"

In [157]:
s.encode()

b'krishna'

In [158]:
# list is the collection of multiple homogeneous dataset
l = [1,'Radha', True, 6+5j, 45.6]

In [159]:
l[-1]

45.6

In [160]:
l[3]

(6+5j)

In [161]:
l[3].imag

5.0

In [162]:
l[3].real

6.0

In [164]:
l[::-1]

[45.6, (6+5j), True, 'Radha', 1]

In [190]:
l1 = ['radhe' 'radhe']
l2 = ['krishna', 'krishna']

In [191]:
l1+l2

['radheradhe', 'krishna', 'krishna']

In [192]:
l1+'krishna'

TypeError: can only concatenate list (not "str") to list

In [193]:
l

[1, 'Radhe Radhe', True, (6+5j), 45.6]

In [194]:
l[1]= 'Radhe Radhe'

In [195]:
l

[1, 'Radhe Radhe', True, (6+5j), 45.6]

In [196]:
l + ['sudh']

[1, 'Radhe Radhe', True, (6+5j), 45.6, 'sudh']

In [199]:
l1*2

['radheradhe', 'radheradhe']

In [200]:
l1

['radheradhe']

In [201]:
l1 = l1[0].replace('radheradhe', 'RadheRadhe')

In [202]:
l1

'RadheRadhe'

In [203]:
type(l1)

str

In [205]:
l

[1, 'Radhe Radhe', True, (6+5j), 45.6]

In [207]:
l[1].replace('Radhe Radhe', "Hari Hari")

'Hari Hari'

In [209]:
l

[1, 'Radhe Radhe', True, (6+5j), 45.6]

In [210]:
l[0] = 'Hari Hari'

In [211]:
l

['Hari Hari', 'Radhe Radhe', True, (6+5j), 45.6]

In [212]:
l[0] = 'Hare Krishna'

In [213]:
l

['Hare Krishna', 'Radhe Radhe', True, (6+5j), 45.6]

In [215]:
l[0][0]='k'

TypeError: 'str' object does not support item assignment

In [221]:
l[0].replace('H', 'k')

'kare Krishna'

In [222]:
l

['Hare Krishna', 'Radhe Radhe', True, (6+5j), 45.6]

In [223]:
# List is the collection of homogenous element, list is mutable where string is immutable entity

In [224]:
s = "krishna"

In [226]:
s[0] = 'R'

TypeError: 'str' object does not support item assignment

In [227]:
l1

'RadheRadhe'

In [228]:
len(l1)

10

In [229]:
l

['Hare Krishna', 'Radhe Radhe', True, (6+5j), 45.6]

In [230]:
len(l)

5

In [232]:
'Radhe Radhe' in l

True

In [233]:
l1

'RadheRadhe'

In [235]:
list(l1)

['R', 'a', 'd', 'h', 'e', 'R', 'a', 'd', 'h', 'e']

In [238]:
l1 = [l1]

In [239]:
l1

['RadheRadhe']

In [240]:
l1.append(l2)

In [241]:
l1

['RadheRadhe', ['krishna', 'krishna']]

In [242]:
l2

['krishna', 'krishna']

In [243]:
l1.append(l)

In [244]:
l1

['RadheRadhe',
 ['krishna', 'krishna'],
 ['Hare Krishna', 'Radhe Radhe', True, (6+5j), 45.6]]

In [246]:
l1.pop()

['Hare Krishna', 'Radhe Radhe', True, (6+5j), 45.6]

In [248]:
l1

['RadheRadhe', ['krishna', 'krishna']]

In [250]:
l1.pop()

['krishna', 'krishna']

In [251]:
l1

['RadheRadhe']

In [252]:
l1.append('Hare krishna')

In [253]:
l1

['RadheRadhe', 'Hare krishna']

In [254]:
l1.insert(1,'RadhaKrishna')

In [255]:
l1

['RadheRadhe', 'RadhaKrishna', 'Hare krishna']

In [256]:
l1

['RadheRadhe', 'RadhaKrishna', 'Hare krishna']

In [257]:
l2

['krishna', 'krishna']

In [259]:
l1.reverse()

In [260]:
l1

['Hare krishna', 'RadhaKrishna', 'RadheRadhe']

In [261]:
s = "sudh"

In [262]:
reversed(s)

In [263]:
for i in reversed(s):
    print(i)

h
d
u
s

In [264]:
l2

['krishna', 'krishna']

In [265]:
l1

['Hare krishna', 'RadhaKrishna', 'RadheRadhe']

In [266]:
l1.count('krishna')

0

In [267]:
l2.append([3,4,5,6])

In [268]:
l2

['krishna', 'krishna', [3, 4, 5, 6]]

In [269]:
l2.extend([3,4,5,6,7])

In [270]:
l2

['krishna', 'krishna', [3, 4, 5, 6], 3, 4, 5, 6, 7]

In [271]:
s

'sudh'

In [272]:
s.isspace()

False

In [273]:
l

['Hare Krishna', 'Radhe Radhe', True, (6+5j), 45.6]

In [275]:
l.sort(reverse= True)

TypeError: '<' not supported between instances of 'complex' and 'float'

In [276]:
l3 = [5,6,2,3,5,7]

In [277]:
l3.sort()

In [278]:
l3

[2, 3, 5, 5, 6, 7]

In [279]:
l3.sort(reverse=True)

In [280]:
l3

[7, 6, 5, 5, 3, 2]

In [281]:
l2

['krishna', 'krishna', [3, 4, 5, 6], 3, 4, 5, 6, 7]

In [282]:
l2.sort()

TypeError: '<' not supported between instances of 'list' and 'str'

In [289]:
l2 = ['krishna', 'krishna', [3, 4, 5, 6], 3, 4, 5, 6, 7]
l2.sort(key=lambda x: (isinstance(x, list), x))
print(l2)

TypeError: '<' not supported between instances of 'int' and 'str'

In [301]:
l2 = ['krishna', 'krishna', 'hari', [3, 4, 5, 6], 3, 4, 5, 6, 7]

# Convert non-string elements to strings
l2 = [str(item) if not isinstance(item, str) else item for item in l2]

# Sort the list
l2.sort()

print(l2)

['3', '4', '5', '6', '7', '[3, 4, 5, 6]', 'hari', 'krishna', 'krishna']

In [302]:
l2 = ['krishna', 'krishna', [3, 4, 5, 6], 3, 4, 5, 6, 7]

In [303]:
type(l2[3])

int

In [304]:
l4  = ['krishna', 'krishna', 'hari', 3, 4, 5, 6, 7]

In [305]:
l4.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [306]:
l5 = ['krishna', 'krishna', 'hari']

In [307]:
l5.sort()

In [308]:
l5

['hari', 'krishna', 'krishna']

In [ ]:
l2 = ['krishna', 'krishna', 'hari', [3, 4, 5, 6], 3, 4, 5, 6, 7]

# Convert non-string elements to strings
l2 = [str(item) if not isinstance(item, str) else item for item in l2]

# Sort the list
l2.sort()

print(l2)

In [310]:
l2 = [str(i) if not isinstance(i, str) else i for i in l2]

In [311]:
l2

['krishna', 'krishna', '[3, 4, 5, 6]', '3', '4', '5', '6', '7']

In [312]:
l2 = [ str(i) if not isinstance(i,str) else i for i in l2]

In [318]:
l2 = ['krishna', 'krishna', '[3, 4, 5, 6]', '3', '4', '5', '6', '7']
for i in l2:
    if isinstance(i, str):
        return(str(i))
    else:
        return i

SyntaxError: 'return' outside function (Temp/ipykernel_17860/3405610212.py, line 4)

In [325]:
l2 = ['krishna', 'krishna','hari',  '[3, 4, 5, 6]', '3', '4', '5', '6', '7']
l2.sort(key=lambda x:str(x), reverse=True)

In [326]:
l2

['krishna', 'krishna', 'hari', '[3, 4, 5, 6]', '7', '6', '5', '4', '3']

In [327]:
t = (1,2,3,4)

In [328]:
type(t)

tuple

In [329]:
t1 = ("sudh", "kumar", "krishna", "Radha")

In [330]:
t1[0]

'sudh'

In [331]:
t1[1]= "Radharani"

TypeError: 'tuple' object does not support item assignment

In [332]:
t1[::-1]

('Radha', 'krishna', 'kumar', 'sudh')

In [333]:
t2 = (3+4j, True, 45.6)

In [334]:
t1+t2

('sudh', 'kumar', 'krishna', 'Radha', (3+4j), True, 45.6)

In [336]:
t1*2

('sudh', 'kumar', 'krishna', 'Radha', 'sudh', 'kumar', 'krishna', 'Radha')

In [337]:
t1

('sudh', 'kumar', 'krishna', 'Radha')

In [339]:
t1.count('krishna')

1

In [340]:
t1.index('Radha')

3

In [341]:
t1[4] = "Radharani"

TypeError: 'tuple' object does not support item assignment

In [342]:
t1 = (3,4,5)

In [343]:
l = list(t1)

In [344]:
l

[3, 4, 5]

In [345]:
t= ([1,2,3,4], "radharani")

In [347]:
t[0][1] = "Hari Hari"

In [348]:
t

([1, 'Hari Hari', 3, 4], 'radharani')

In [349]:
l = [1,2,3,4,5,5,5,56,7]

In [350]:
set(l)

{1, 2, 3, 4, 5, 7, 56}

In [352]:
s1 = {1,2,3,4,5,6,6,7,7,1,1,3}

In [353]:
s1

{1, 2, 3, 4, 5, 6, 7}

In [354]:
s1[0]

TypeError: 'set' object is not subscriptable

In [355]:
list(s1)

[1, 2, 3, 4, 5, 6, 7]

In [359]:
s1.add(45)

In [360]:
s1

{1, 2, 3, 4, 5, 6, 7, 45}

In [361]:
s1.update({'radha'})

In [362]:
s1

{1, 2, 3, 4, 45, 5, 6, 7, 'radha'}

In [363]:
s1.clear()

In [364]:
s1

set()

In [365]:
s1= {1, 2, 3, 4, 45, 5, 6, 7, 'radha'}

In [366]:
s1.discard(3)

In [367]:
s1

{1, 2, 4, 45, 5, 6, 7, 'radha'}

In [368]:
d = {4:"sudh"}

In [369]:
d

{4: 'sudh'}

In [370]:
d.items()

dict_items([(4, 'sudh')])

In [371]:
d.keys()

dict_keys([4])

In [372]:
d.values()

dict_values(['sudh'])

In [374]:
d1 = {1 : "radha", 2: "hari", 3 : "krishna"}

In [376]:
d1.items()

dict_items([(1, 'radha'), (2, 'hari'), (3, 'krishna')])

In [378]:
d1[1] = "radharani"

In [379]:
d1

{1: 'radharani', 2: 'hari', 3: 'krishna'}

In [380]:
d1[3]

'krishna'

In [381]:
d1[4] = [3,4,5,6,7]

In [382]:
d1

{1: 'radharani', 2: 'hari', 3: 'krishna', 4: [3, 4, 5, 6, 7]}

In [386]:
d1[3] = [12,4]

In [387]:
d1

{1: 'radharani', 2: 'hari', 3: [12, 4], 4: [3, 4, 5, 6, 7]}

In [388]:
d1[7] = {33,44,55}

In [389]:
d1

{1: 'radharani', 2: 'hari', 3: [12, 4], 4: [3, 4, 5, 6, 7], 7: {33, 44, 55}}

In [393]:
d1[4][2]

5

In [397]:
d1 = {1:"radha", 2 : "krishna"}
d2 = {3: "shrinivas", 4: "Bhargavi"}

In [398]:
d1.update(d2)

In [399]:
d1

{1: 'radha', 2: 'krishna', 3: 'shrinivas', 4: 'Bhargavi'}

In [400]:
d1.get(4)

'Bhargavi'

In [401]:
a = 10

In [402]:
if a <15:
    print("sfds")

sfds

In [403]:
if a <15:
    pass

In [404]:
if a <15 :
    print("krihsna")

krihsna

In [405]:
if 10 <3 : 
    print('yes')
else :
    print('no')

no

In [408]:
l = [1,"radha", 3+4j ,4,5]
for i in l:
    print(type(i), i)

<class 'int'> 1
<class 'str'> radha
<class 'complex'> (3+4j)
<class 'int'> 4
<class 'int'> 5

In [410]:
for i in enumerate(l):
    print(i, type(i))

(0, 1) <class 'tuple'>
(1, 'radha') <class 'tuple'>
(2, (3+4j)) <class 'tuple'>
(3, 4) <class 'tuple'>
(4, 5) <class 'tuple'>

In [411]:
l = [3,4,5,6,7]

In [412]:
[i+2 for i in l]

[5, 6, 7, 8, 9]

In [426]:
x = lambda l : [(i+2) for i in l]

In [427]:
x([3,4,5,6,7])

[5, 6, 7, 8, 9]

In [429]:
y = lambda x : str(x)

In [430]:
y([1, 2,3,4])

'[1, 2, 3, 4]'

In [431]:
[i+2 for i in l]

[5, 6, 7, 8, 9]

In [434]:
[i for i in l if isinstance(i, int)]

[3, 4, 5, 6, 7]

In [436]:
y = lambda l : [i for i in l if isinstance(i,int)]

In [437]:
y([3, 4, 5, 6, 7, 'a'])

[3, 4, 5, 6, 7]

In [447]:
l1 = []
l = [3, 4, 5, 6, 7, 'a']
for i in l:
    if type(i) == int:
        l1.append(i)

In [448]:
l1

[3, 4, 5, 6, 7]

In [456]:
l = [3, 4, 5, 6, 7, 'a', [33,4,6,7] ]
l1 = []
for i in l:
    if type(i) == list:
        for j in i:
            l1.append(j)

print(l1)

[33, 4, 6, 7]

In [457]:
l = [3, 4, 5, 6, 7, 'a', [33,4,6,7] ]
for i in enumerate(l):
    print(i)

(0, 3)
(1, 4)
(2, 5)
(3, 6)
(4, 7)
(5, 'a')
(6, [33, 4, 6, 7])

In [458]:
3, 4, 5, 6, 7, 'a', [33,4,6,7, "radha", "krishna"]

(3, 4, 5, 6, 7, 'a', [33, 4, 6, 7, 'radha', 'krishna'])

In [467]:
l = [3, 4, 5, 6, 7, 'a', 33,4,6,7, "radha", "krishna"]
l2 = []
for i in l:
    if type(i) == str:
        for j in i:
            l2.append(j)
print(l2)

['a', 'r', 'a', 'd', 'h', 'a', 'k', 'r', 'i', 's', 'h', 'n', 'a']

In [468]:
l2

['a', 'r', 'a', 'd', 'h', 'a', 'k', 'r', 'i', 's', 'h', 'n', 'a']

In [469]:
l = [1,2,3,4]

[i**2 for i in l]

[1, 4, 9, 16]

In [470]:
l = [3, 4, 5, 6, 7, 'a', 33,4,6,7, "radha", "krishna"]

for i in l:
    if type(i) == str:
        l1 = []
        for j in i:
            l1.append(j)
        print(l1)

['a']
['r', 'a', 'd', 'h', 'a']
['k', 'r', 'i', 's', 'h', 'n', 'a']

In [475]:
l = ["hare", "hari", "krishna"]
for i in l:
    if i == "hari":
        break
    print(i)

else:
    print("this will execute when for loop complete sucessfully ")

hare

In [477]:
l = ["hare", "hari", "krishna"]
for i in l:
    if i == "hari":
        print(i)

else:
    print("this will execute when for loop complete sucessfully ")

hari
this will execute when for loop complete sucessfully

In [483]:
a = 10
while a<20:
    print(a)
    a = a+1

10
11
12
13
14
15
16
17
18
19

In [484]:
range(6)

range(0, 6)

In [485]:
list(range(6))

[0, 1, 2, 3, 4, 5]

In [486]:
list(range(2,16,2))

[2, 4, 6, 8, 10, 12, 14]

In [491]:
list(range(4, 0, -1))

[4, 3, 2, 1]

In [506]:
t = (1,2,3,4,5,6)
for i in range(len(t)-1,-1,-1):
    print(t[i])

6
5
4
3
2
1

In [507]:
t = (1,2,3,4,5,6)
len(t)

6

In [508]:
for i in len(t):
    print(i)

TypeError: 'int' object is not iterable

In [509]:
d = {"a" : 'Hare', 'b' : "krishna"}

In [510]:
for i in d:
    print(i, d[i])

a Hare
b krishna

In [511]:
for i in d.items():
    print(i)

('a', 'Hare')
('b', 'krishna')

In [512]:
len('sudh')

4

In [513]:
def test():
    print("Hare krishna")

In [514]:
test()

Hare krishna

In [518]:
def test1():
    return "hare krishna hare krishna "

In [519]:
test1()*2

'hare krishna hare krishna hare krishna hare krishna '

In [522]:
test1()+'krishna krishna hare hare '

'hare krishna hare krishna krishna krishna hare hare '

In [524]:
type(test1())

str

In [526]:
set(test1())

{' ', 'a', 'e', 'h', 'i', 'k', 'n', 'r', 's'}

In [527]:
def test2():
    return 343

In [528]:
type(test2())

int

In [529]:
test2()+45

388

In [530]:
def test3():
    return 3,4,5,6,7,[5,6,7]

In [532]:
b = test3()

In [533]:
b[0]

3

In [536]:
for i in enumerate(b):
    print(i)

(0, 3)
(1, 4)
(2, 5)
(3, 6)
(4, 7)
(5, [5, 6, 7])

In [538]:
b[5][0] = "Radhe Radhe"

In [539]:
b

(3, 4, 5, 6, 7, ['Radhe Radhe', 6, 7])

In [542]:
b = list(b)

In [543]:
b[5].insert(1, "Jay shree krishna")

In [544]:
b

[3, 4, 5, 6, 7, ['Radhe Radhe', 'Jay shree krishna', 6, 7]]

In [545]:
def test7(a):
    if type(a) == dict:
        return a.keys()
    
test7({'a': "krishna", 'b': 'hare'})

dict_keys(['a', 'b'])

In [546]:
def test8(l1,l2):
    if type(l1) == list and type(l2) == list:
        return l1+l2

In [547]:
test8([1,2,3],[3,4,5])

[1, 2, 3, 3, 4, 5]

In [549]:
def test8(l1,l2):
    if type(l1) == list and type(l2) == list:
        l1.extend(l2)
        return l1

In [550]:
test8([1,2,3],[3,4,5])

[1, 2, 3, 3, 4, 5]

In [551]:
def fun(s):
    if type(s) == str:
        count = 0
        for i in s:
            count = count+1
        return count
fun('Radhakrishna')

12

In [553]:
def fun(l):
    if type(l) == list or type(l) == tuple or type(l) == str:
        for i , j in enumerate(l):
            print (x of {j} is {i} "

In [554]:
fun("Radha")

'index of R is 0 '

In [559]:
def fun(l):
    if type(l) == list or type(l) == tuple or type(l) == str:
        for i , j in enumerate(l):
            print(f"index of {j} is  {i} ")

In [560]:
fun("Radha")

index of R is  0
index of a is  1
index of d is  2
index of h is  3
index of a is  4

In [567]:
import os 
def fun(path):
    import os 
    return os.listdir()

fun(os.getcwd())

['.ipynb_checkpoints',
 'Abstraction.ipynb',
 'Class Method.ipynb',
 'decorator.ipynb',
 'Dender Method.ipynb',
 'Encapsulation.ipynb',
 'Property Decorator.ipynb',
 'Static Method.ipynb',
 'Untitled.ipynb']

In [569]:
pwd()

'F:\\Feb_seven_2024\\Python_Practice'

In [570]:
def test(a,s,b):
    return a,s,b

In [571]:
def test1(*args):
    return args

In [572]:
test1(23,4,5,6,7,4)

(23, 4, 5, 6, 7, 4)

In [576]:
def test(*args,a):
    return args, a

In [580]:
test(23,4,5,6,7,4,a="Radha Rani")

((23, 4, 5, 6, 7, 4), 'Radha Rani')

In [581]:
def test3(a, *args):
    return a, args

test3(23,4,5,6,7,4, "Radha Rani")

(23, (4, 5, 6, 7, 4, 'Radha Rani'))

In [583]:
test3("Radha Rani",23,4,5,6,7,4)

('Radha Rani', (23, 4, 5, 6, 7, 4))

In [584]:
def test4(**kwargs):
    return kwargs

In [585]:
test4(a= "Radha", b = "Krishna")

{'a': 'Radha', 'b': 'Krishna'}

In [588]:
def test5(a, *args, **kwargs):
    return a, args, kwargs

In [589]:
test5(34, [1,2,3,4,5], [4,5,6,2], b= 'Radhakrishna', c= "Harekrishna")

(34,
 ([1, 2, 3, 4, 5], [4, 5, 6, 2]),
 {'b': 'Radhakrishna', 'c': 'Harekrishna'})

In [590]:
a = lambda a , b : a*b

In [591]:
a(3,4)

12

In [592]:
v = lambda *i : i**2

In [594]:
v([1,2,3])

TypeError: unsupported operand type(s) for ** or pow(): 'tuple' and 'int'

In [600]:
v = lambda *a : [x**2 for x in a]
result = v(2, 3, 4)
print(result)  # Output: [4, 9, 16]

[4, 9, 16]

In [601]:
v = lambda *a : [x**2 for x in a]

In [602]:
v(2,3,4)

[4, 9, 16]

In [615]:
a = 10
def test16(c,d):
    a = 500
    return c*d, a

In [616]:
test16(a,2)

(20, 500)

In [619]:
def test2(l):
    d = {}
    for i in range(l):
        d[i] = i**2
    return d

test2(5)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [622]:
x= lambda l : { i:i**2 for i in range(l) }

In [624]:
x(6)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [626]:
(i for i in range(10))

In [627]:
a = (i for i in range(10))

In [628]:
tuple(a)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [630]:
a = 56
for i in a:
    print(i)

TypeError: 'int' object is not iterable

In [633]:
s = "Radha"
next(s)

TypeError: 'str' object is not an iterator

In [635]:
s = iter(s)

In [636]:
next(s)

'R'

In [637]:
next(s)

'a'

In [638]:
l = [1,2,3,4]

In [639]:
next(l)

TypeError: 'list' object is not an iterator

In [641]:
l = iter(l)

In [642]:
next(l)

1

In [643]:
a = 45
for i in a :
    print(i)

TypeError: 'int' object is not iterable

In [645]:
a = iter(a)

TypeError: 'int' object is not iterable

In [651]:
def test(n):
    l1 = []
    for i in range(n):
        l1.append(i**2)
    return l1

In [652]:
test(4)

[0, 1, 4, 9]

In [653]:
def test(n):
    for i in range(n):
        yield i**3

In [654]:
test(5)

In [655]:
for i in test(5):
    print(i)

0
1
8
27
64

In [656]:
tuple(test(5))

(0, 1, 8, 27, 64)

In [657]:
def fib(n):
    a = 1
    b = 1
    c = 1 
    
    for i in range(n):
        yield a, i 
        a , b= b, a+b

In [659]:
tuple(fib(8))

((1, 0), (1, 1), (2, 2), (3, 3), (5, 4), (8, 5), (13, 6), (21, 7))

In [660]:
for i in fib(10):
    print(i)

(1, 0)
(1, 1)
(2, 2)
(3, 3)
(5, 4)
(8, 5)
(13, 6)
(21, 7)
(34, 8)
(55, 9)

In [691]:
f = open("test.txt", "w")

f.write("Hare krishna hare krishna krishna krishna hare hare")

51

In [692]:
f.close()

In [693]:
f = open("test.txt", "r")

f.read()

'Hare krishna hare krishna krishna krishna hare hare'

In [694]:
f.tell()

51

In [695]:
f.seek(0)

0

In [696]:
f.tell()

0

In [700]:
def test1():
    with open("test.txt", "a") as f:
        b= f.write("Hare Ram Hare Ram Ram Ram Hare Hare")
        print(b)
        
with open("test.txt", 'r') as f:
    a= f.read()
    print(a)
    
test1()

Hare krishna hare krishna krishna krishna hare hareHare Ram Hare Ram Ram Ram Hare HareHare Ram Hare Ram Ram Ram Hare HareHare Ram Hare Ram Ram Ram Hare Hare
35

In [701]:
def test1():
    with open("test.txt", "a") as f:
        b = f.write("Hare Ram Hare Ram Ram Ram Hare Hare")
        print(b)
        
with open("test.txt", 'r') as f:
    a = f.read()
    print(a)
    
test1()

Hare krishna hare krishna krishna krishna hare hareHare Ram Hare Ram Ram Ram Hare HareHare Ram Hare Ram Ram Ram Hare HareHare Ram Hare Ram Ram Ram Hare HareHare Ram Hare Ram Ram Ram Hare Hare
35

In [704]:
ls

 Volume in drive F is New Volume
 Volume Serial Number is 82AB-691C

 Directory of F:\Feb_seven_2024\Python_Practice

04-04-2024  10:30    <DIR>          .
08-02-2024  19:39    <DIR>          ..
03-04-2024  12:56    <DIR>          .ipynb_checkpoints
08-02-2024  20:30             2,807 Abstraction.ipynb
09-02-2024  13:56            18,553 Class Method.ipynb
09-02-2024  12:22             3,859 decorator.ipynb
09-02-2024  15:18            10,638 Dender Method.ipynb
06-03-2024  14:08             8,951 Encapsulation.ipynb
09-02-2024  16:32             5,806 Property Decorator.ipynb
09-02-2024  15:04             5,851 Static Method.ipynb
04-04-2024  10:28               226 test.txt
04-04-2024  10:30           135,278 Untitled.ipynb
               9 File(s)        191,969 bytes
               3 Dir(s)  303,668,342,784 bytes free

In [705]:
f.fileno()

ValueError: I/O operation on closed file

In [708]:
import os 
def text_file(a):
    for i in os.listdir():
        if i.endswith('.txt'):
            print(i)
            
text_file(os.getcwd())

test.txt

In [709]:
import os 
os.system("ls *.txt")

1

In [710]:
a = 5
a/10

0.5

In [718]:
try:
    a = 10
    b = a/0
    print(b)
    
except ZeroDivisionError as e:
    print(e)

division by zero

In [719]:
try:
    f = open("test.txt", "r")
    f.write("HARE KRISHNA")

except Exception as e:
    print(e)

not writable

In [721]:
try :
    l = [1,2,3,4,5]
    for i in range(len(l)+1):
        print(l[i])
        
except Exception as e:
    print(e)

1
2
3
4
5
list index out of range

In [722]:
try :
    l = [1,2,3,4,5]
    for i in range(len(l)+1):
        print(l[i])
        
except Exception as e:
    print(e)
    

print("Hare krishna")

1
2
3
4
5
list index out of range
Hare krishna

In [724]:
try :
    l = [1,2,3,4,5]
    for i in range(len(l)+1):
        print(l[i])
        
except Exception as e:
    print(e)

else:
    print("try is not executed sucessfully , HARE KRISHNA")

1
2
3
4
5
list index out of range

In [726]:
try :
    l = [1,2,3,4,5]
    for i in range(len(l)):
        print(l[i])
        
except Exception as e:
    print(e)

else:
    print("try is  executed sucessfully , HARE KRISHNA")

1
2
3
4
5
try is  executed sucessfully , HARE KRISHNA

In [728]:
try :
    l = [1,2,3,4,5]
    for i in range(len(l)+1):
        print(l[i])
        
except Exception as e:
    print(e)

else:
    print("try is  executed sucessfully , HARE KRISHNA")
    
finally:
    print("I am exetuting alawys wher try fail or pass, HARI HARI")

1
2
3
4
5
list index out of range
I am exetuting alawys wher try fail or pass, HARI HARI

In [729]:
def askint():
    try:
        a = int(input())
        return a
    
    except Exception as e:
        print(e)
askint()

Hare krishna Hare Rama
invalid literal for int() with base 10: 'Hare krishna Hare Rama'

In [732]:
def askint():
    try:
        while True:
            a = int(input())
            #return a
    
    except Exception as e:
        print(e)
askint()

jay shree krishna
invalid literal for int() with base 10: 'jay shree krishna'

In [739]:
def askint():
    flag = True
    while flag :
        try:
            a = int(input())
            return a
            flag = False
    
        except Exception as e:
            print(e)
    
askint()

f
invalid literal for int() with base 10: 'f'
f
invalid literal for int() with base 10: 'f'
4

4

In [741]:
def test(a):
    try:
        b= 10/a
        print(b)
    raise Exception('error',a )

SyntaxError: invalid syntax (Temp/ipykernel_17860/4120524034.py, line 5)

In [747]:
def test(a):
    try:
        b = 10 / a
        print(b)
    except Exception as e:
        raise Exception('error', a)

In [748]:
test(0)

Exception: ('error', 0)

In [749]:
def test(a):
    if a<10:
        raise Exception('value is less')

In [750]:
test(3)

Exception: value is less

In [762]:
class car :
    def __init__(self, brand_name, fuel_type, body_type):
        self.brand = brand_name
        self.fuel = fuel_type 
        self.body = body_type
    
    def desc_car(self):
        print(self.brand, self.fuel, self.body)

In [763]:
c1 = car('innova', 'disel', 'suv')

In [764]:
c1.desc_car()

innova disel suv

In [765]:
c1.body

'suv'

In [766]:
c1.brand

'innova'

In [767]:
c1.fuel

'disel'

In [768]:
a = 10

In [769]:
class car1 :
    
    def test(self):
        print("Hare krishna hare krishna")

In [770]:
c2 = car1()

In [771]:
c2.test()

Hare krishna hare krishna

In [772]:
type(c2)

__main__.car1

In [773]:
print(type(c2))

<class '__main__.car1'>

In [822]:
class reverse_string:
    def __init__(self, name):
        self.name = name
        
    def reverse(self):
        l1 = []
        for i in range(len(self.name)-1,-1,-1):
            l1.append(self.name[i])
        return l1
    
    def reverse1(self):
        l1 = []
        for i in reversed(self.name):
            print(i)

In [823]:
s1 = reverse_string("Radha")

In [824]:
s1.name

'Radha'

In [825]:
s1.reverse()

['a', 'h', 'd', 'a', 'R']

In [826]:
s1.reverse1()

a
h
d
a
R

In [31]:
class dict_parser1:
    def __init__(self, a):
        self.a = a
    
    def dict_check(self):
        if type(self.a) == dict:
            return True
        else:
             #False
            raise Exception("not an dictnoariy")
            
    def get_keys(self):
        if self.dict_check():
            return list(self.a.keys())
        
    def get_value(self):
        if self.dict_check():
            return list(self.a.values())
        
    def get_user_input(self):
        b = eval(input())
        self.a.update(b)
        return self.a
    
    def insertion(self, **kwargs):
        for k,v in kwargs.items():
            self.a[k]= v
        return self.a

In [32]:
d1 = dict_parser1({'a': 'Hare', 'b': 'krishna'})

In [33]:
d1.dict_check()

True

In [34]:
d1.get_keys()

['a', 'b']

In [35]:
d1.get_value()

['Hare', 'krishna']

In [36]:
d1.get_user_input()

SyntaxError: unexpected EOF while parsing (<string>, line 0)

In [37]:
d1.insertion(c='Radha', d='Sita')

{'a': 'Hare', 'b': 'krishna', 'c': 'Radha', 'd': 'Sita'}

In [38]:
class xyz :
    def __init__(self,a,b,c):
        self.a = a
        self.b = b 
        self.c = c
        
    def test(self):
        print("hare krishna")
    
    def test1(self1):
        print('Hare Rama')
        
    def test2(self):
        print("Radhe Radhe")

In [39]:
c1 = xyz(2,3,4)

In [40]:
c1.test()

hare krishna

In [45]:
class xyz1(xyz):
    def test(self):
        print("xyz1 class method")

In [46]:
c2 = xyz1(3,4,5)

In [47]:
c2.test2()

Radhe Radhe

In [48]:
c2.test()

xyz1 class method

In [49]:
l = [1,2,3,45,56,77,89]

In [50]:
[i**2 for i in l]

[1, 4, 9, 2025, 3136, 5929, 7921]

In [51]:
a = lambda l : [i**2 for i in l]

In [52]:
a([1,2,3,45,56,77,89])

[1, 4, 9, 2025, 3136, 5929, 7921]

In [53]:
def test(a):
    return a**2

In [55]:
x = map(test,[1,2,3,45,56,77,89])

In [56]:
list(x)

[1, 4, 9, 2025, 3136, 5929, 7921]

In [58]:
def test1(a):
    return a%2 == 0

In [59]:
filter(test1,[1, 4, 9, 2025, 3136, 5929, 7921])

In [60]:
list(filter(test1,[1, 4, 9, 2025, 3136, 5929, 7921]))

[4, 3136]

In [61]:
list(map(test1,[1, 4, 9, 2025, 3136, 5929, 7921]))

[False, True, False, False, True, False, False]

In [62]:
list(filter(lambda x: x%3==0, l))

[3, 45]

In [63]:
from functools import reduce

In [64]:
def test2(a,b):
    return a/b

In [65]:
reduce(test2, l)

9.650892475932603e-09

In [66]:
reduce(lambda x,y: x*y , l)

103617360

In [67]:
l = [1,2,3,4]
l1 = [2,3,4,5]

In [68]:
list(zip(l,l1))

[(1, 2), (2, 3), (3, 4), (4, 5)]

# Polymorphism

In [70]:
# multiple characteistics
# nature will change but person is same
# multiple state , behave differntly but person is same

In [77]:
def test(a,b):
    return a+b
# addition operation

In [72]:
test(4,5)

9

In [76]:
test("Radha", "krishna")
# concat operation

'Radhakrishna'

In [75]:
test([1,2,3], [4,5,6])
# list append for extend

[1, 2, 3, 4, 5, 6]

In [78]:
class data_science:
    
    def syllabus(self):
        print("method for data science syllabus")

In [79]:
class web_dev:
    
    def syllabus(self):
        print("method for web dev ")

In [80]:
def class_parcer(class_obj):
    for i in class_obj:
        i.syllabus()

In [81]:
d1 = data_science()
w1 = web_dev()

In [82]:
class_obj = [d1,w1]

In [83]:
class_parcer(class_obj)

method for data science syllabus
method for web dev

In [84]:
d1.syllabus()

method for data science syllabus

In [85]:
w1.syllabus()

method for web dev

# Encapsulation

In [86]:
class test:
    def __init__(self,a,b):
        self.a =a 
        self.b = b

In [87]:
t = test(4,5)

In [88]:
t.a

4

In [89]:
t.b

5

In [90]:
t.a = 56

In [91]:
t.a

56

# I am able to acess the class value + I am able to assign - both things I can do and this thing 
is little bit dangerous whenever try to do a idursry grade coding
bcoz anyone cab able to acess the variable and anyone can modify the variable.
which is not allow for each and every classes
sometimes we have to restrict the user that not to use this variable directly

Encapsulation is an idea which will allow you to prevent any kind of a direct access of data or direct modification of data

what it is going to do that I know
what kind of a outcome that I will be able to get that i know 
but i wont be able to access the internal composition of a capsule. I will not able to modify or change it

# Inhreritance

class can inherit the property of another classes

In [103]:
class skills1:
    def __init__(self,name,email):
        self.name = name
        self.email = email
        
    @classmethod
    def details(cls, course_name, course_id):
        return cls(course_name, course_id)
    
    def student_details(self):
        print(self.name)
        print(self.email)

In [95]:
s1 = skills1("Radha", "Radha@gmail.com")

In [96]:
s1.email

'Radha@gmail.com'

In [97]:
s1.name

'Radha'

In [99]:
s1.student_details()

Radha
Radha@gmail.com

In [100]:
s1.details("fsds", 11)

In [101]:
s2 = skills1.details("Fsds", "11")

In [102]:
s2.student_details()

Fsds
11

In [104]:
class skills1:
    #def __init__(self,name,email):
     #   self.name = name
     #   self.email = email
        
    @classmethod
    def details(cls, course_name, course_id):
        return cls(course_name, course_id)
    
    def student_details(self):
        print(self.name)
        print(self.email)

In [105]:
s1 = skills1.details("fsds",13)

TypeError: skills1() takes no arguments

In [106]:
class MyClass:
    class_variable = "Hello"  # Class variable

    @classmethod
    def class_method(cls):
        print("Class variable:", cls.class_variable)

# Call the class method to access the class variable
MyClass.class_method()

Class variable: Hello

In [107]:
class skills1 :
    def __init__(self, name, email):
        self.name = name 
        self.email = email 
    
    @classmethod
    def details(cls, name1 , email1):
        return cls(name1, email1)
        
    def student_details(self):
        print(self.name)
        print(self.email)

In [109]:
s1 = skills1.details('radha', 'radha@gmail.com')

In [113]:
s1.student_details()

radha
radha@gmail.com

In [114]:
s1.email

'radha@gmail.com'

In [115]:
s1.name

'radha'

In [ ]:
import math

class MathUtils:
    @classmethod
    def area_of_circle(cls, radius):
        return math.pi * radius ** 2

# Using the class method to calculate the area of a circle
radius = 5
area = MathUtils.area_of_circle(radius)
print("Area of the circle:", area)

In [116]:
import math

class Mathunits:
    
    @classmethod
    def area_circle(cls,radius):
        return math.pi * radius **2

In [119]:
Mathunits.area_circle(5)

78.53981633974483

In [120]:
a1

78.53981633974483

In [121]:
class dict_parser:
    
    def __init__(self,a1):
        self.a1 = a1
        
    @classmethod
    def get_keys(cls, a1):
        return a1.keys()

In [122]:
dict_parser.get_keys({"a": "Radha", "b": "Krishna"})

dict_keys(['a', 'b'])

In [123]:
class skills2 :
    
    mobile_number = 913445234
    
    def __init__(self, name, email):
        self.name = name 
        self.email = email 
    
    @classmethod
    def details(cls, name1 , email1):
        return cls(name1, email1)
        
    def student_details(self):
        print(self.name,self.email, skills2.mobile_number)

In [124]:
skills2.mobile_number

913445234

In [125]:
skills2.mobile_number = 935434232

In [126]:
skills2.mobile_number

935434232

In [127]:
def course_detail(cls,course_name):
    print("course_detail" , course_name)

In [128]:
skills2.course_detail = classmethod(course_detail)

In [130]:
skills2.course_detail("Fsds")

course_detail Fsds

In [131]:
s4 = skills2("radha", "radha@gmail.com")

In [132]:
s4.course_detail("FSDS")

course_detail FSDS

# STATIC METHOD

In [133]:
class skills:
    def student_details(self,name,mail_id,number):
        print(name, mail_id, number)

In [134]:
s1 = skills()

In [135]:
s1.student_details("radha", "radha@gmail.com", 232313)

radha radha@gmail.com 232313

In [157]:
class skills1:
    def student_details(self,name,mail_id,number):
        print(name, mail_id, number)
    
    @staticmethod
    def mentor_mail_id(mail_id):
        print(mail_id)
    
    
    @staticmethod
    def mentor_class(list_mentor):
        print(list_mentor)
        skills1.mentor_mail_id("radha@gmail.com")
        
        
    @classmethod
    def class_name(cls, class_name):
        cls.mentor_class(['radha', 'hari'])
        
    def mentor(self,mentor_list):
        print(mentor_list)
        self.mentor_class(['Krishna', 'Radha'])

In [158]:
s2 = skills1()

In [159]:
s2.mentor_class(['radha', 'Hare'])

['radha', 'Hare']
radha@gmail.com

In [160]:
skills1.mentor_class(['radha', "Krishna"])

['radha', 'Krishna']
radha@gmail.com

In [161]:
s2.mentor(['hari', 'hari'])

['hari', 'hari']
['Krishna', 'Radha']
radha@gmail.com

In [162]:
s2.class_name('Fsds')

['radha', 'hari']
radha@gmail.com

In [156]:
skills1.class_name('Radha')

['radha', 'hari']

In [163]:
s2.mentor_mail_id("hari@gmail.com")

hari@gmail.com

In [164]:
skills1.mentor_mail_id('harihari@gmail.com')

harihari@gmail.com

In [192]:
class skills3:
    
    def __init__(self, course_price, course_name):
        self.__course_price = course_price
        self.course_name = course_name
        
    @property
    def course_price_access(self):
        return self.__course_price
    
    @course_price_access.setter
    def course_price_set(self,price):
        if price <= 3500:
            pass
        else:
            self.__course_price = price
            
    @course_price_access.deleter
    def course_price_del(self):
        del self.__course_price

In [193]:
s1 = skills3(3500, "Krishna")

In [194]:
s1.course_name

'Krishna'

In [195]:
s1._skills3__course_price

3500

In [196]:
s1.course_price_access

3500

In [197]:
s1.course_price_set = 2500

In [198]:
s1.course_price_access

3500

In [190]:
s1.course_price_set = 4500

In [191]:
s1.course_price_access

4500

In [199]:
s1.course_price_del

3500

In [200]:
s1.course_price_access

3500

In [201]:
del s1.course_price_del

In [202]:
s1.course_price_access

AttributeError: 'skills3' object has no attribute '_skills3__course_price'