In [2]:
def reverse_string(s):
    if type(s) == str:
        return s[::-1]
    
reverse_string('Radha')

'ahdaR'

In [9]:
def check_palindrome(s):
    if type(s) == str:
        a = s[::1]
        b = s[::-1]
        if a ==b:
            print('palindrome')
        else:
            print('not palindrome')
            
check_palindrome("tot")

palindrome

In [15]:
def factorial(n):
    return 1 if n<=1 else n * factorial(n-1)
factorial(5)

120

In [28]:
def fib(n):
    a = 1
    b = 1
    for i in range(n):
        yield(  a,  i )  
        a , b = b , a+b

In [29]:
tuple(fib(10))

((1, 0),
 (1, 1),
 (2, 2),
 (3, 3),
 (5, 4),
 (8, 5),
 (13, 6),
 (21, 7),
 (34, 8),
 (55, 9))

In [15]:
def hightest_second(l):
    counter = 0
    second_hightest = 0
    
    for i in l:
        if i > counter:
            second_highest = counter
            counter = i 
            
        elif i > second_highest & i < counter:
            second_highest =  i
            
    return second_highest

hightest_second([2, 3, 4, 5, 6, 7, 8])

7

In [16]:
def second_highest1(l):
    first_highest = float('-inf')  # Set initial highest to negative infinity
    second_highest = float('-inf')  # Set initial second highest to negative infinity
    
    for num in l:
        if num > first_highest:
            second_highest = first_highest
            first_highest = num
        elif num > second_highest and num < first_highest:
            second_highest = num
    
    return second_highest

result = second_highest1([2, 3, 4, 5, 6, 7, 8])
print(result)

7

In [41]:
def second_hightest(l):
    num = list(set(l))
    num.sort(reverse=True)
    return num[1]

second_hightest([1,5,7,8])

7

In [47]:
l = [9,10,11,1,5,7,8]
l.sort(reverse=True)
l, l[2]

([11, 10, 9, 8, 7, 5, 1], 9)

In [49]:
def second_highest(lst):
    max_num = max(lst)
    lst = [num for num in lst if num != max_num]

    if len(lst) == 0:
        return "No second highest element found. All elements are same."
    else:
        return max(lst)


result = second_highest([1, 2, 3, 4, 5, 5])
result

4

In [59]:
def sec_high(l):
    max_num = max(l)
    l = [i for i in l if i!=max_num]
    return max(l)

result = sec_high([1, 2, 3, 4, 5, 5])

[1, 2, 3, 4]

In [58]:
result

4

In [67]:
def sec_high1(l):
    max_num = max(l)
    l = [i for i in l if i!=max_num]
    return f"second_hightest is {max(l)}", f"hightest no is {max_num}"


sec_high1([1, 2, 3, 4, 5, 5])

('second_hightest is 4', 'hightest no is 5')

In [86]:
def prime_check(n):
    if n<=1:
        False
        
    for i in range(2,n):
        if n%i ==0:
            return False
    return True
    
def list_no(l):
    return [prime_check(i) for i in l]

nums = [17, 21, 29, 10, 13]

result = list_no(nums)


for index, number in enumerate(nums):
    if result[index]:
        print('prime', number)
    else:
        print('not a prime' , number)

prime 17
not a prime 21
prime 29
not a prime 10
prime 13

In [90]:
def generate_primes(start,end):
    prime_numbers = []
    for num in range(start,end+1):
        if is_prime(num):
            prime_numbers.append(num)
    return prime_numbers

def is_prime(n):
    if n<=1:
        return False
    for i in range (2,n):
        if n%i==0:
            return False
    return True

generate_primes(10,50)

[11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [98]:
def count_of_occurance(s):
    return [ (s.count(i), i) for i in set(s)]

count_of_occurance('llol')

[(1, 'o'), (3, 'l')]

In [109]:
from collections import Counter

def count_of_occurrence(s):
    counts = Counter(s)
    print(counts)
    return [(counts[char], char) for char in counts]

result = count_of_occurrence('llol')
print(result)

for count, char in result:
    print(f"{char} - {count}")

Counter({'l': 3, 'o': 1})
[(3, 'l'), (1, 'o')]
l - 3
o - 1

In [126]:
from collections import Counter
s = "Radhakrishna"
counts = Counter(s)

result = [ (counts[i], i) for i in counts]

for count,char in result:
    print(char, "-" , count )

R - 1
a - 3
d - 1
h - 2
k - 1
r - 1
i - 1
s - 1
n - 1

In [127]:
s = "Radhakrishna"
counts = Counter(s)

In [117]:
counts

Counter({'R': 1,
         'a': 3,
         'd': 1,
         'h': 2,
         'k': 1,
         'r': 1,
         'i': 1,
         's': 1,
         'n': 1})

In [122]:
type(counts)

collections.Counter

In [131]:
def remove_duplicates(l):
    l1 = []
    for i in l:
        if i not in l1:
            l1.append(i)
    return l1

remove_duplicates([1,1,1,2,2,2,333,333,4,5,6,7])

[1, 2, 333, 4, 5, 6, 7]

In [132]:
def remove_dup(l):
    return set(l)
remove_dup([1,1,1,2,2,2,333,333,4,5,6,7])

{1, 2, 4, 5, 6, 7, 333}

In [134]:
def sum_of_digits(n):
    sum = 0
    for i in str(n):
        sum = sum+int(i)
    return sum

sum_of_digits(11111)

5

In [140]:
def second_largest_no(l):
    max_no = max(l)
    l = [i for i in l if i!= max_no]
    return max(l)

second_largest_no([1,99,100])

99

In [149]:
def leap_year(yr):
    if (yr%4==0 and yr%100!=0) or (yr%400==0):
        return f"{yr} is leap year"
    
a= leap_year(2024)
a

'2024 is leap year'

In [150]:
def power(base, exponent):
    result = base ** exponent
    return result

# Test the function
base_number = 2
exponent_number = 3
result = power(base_number, exponent_number)
print(f"{base_number} raised to the power of {exponent_number} is: {result}")

2 raised to the power of 3 is: 8

In [153]:
def reverse_list(l):
    return l[::-1]

reverse_list([100,99,1])

[1, 99, 100]

In [171]:
def sort_string_based_on_length(l):
    l.sort(key=len)
    return l

result = sort_string_based_on_length(['radha', 'krishna', 'balaram', 'gour'])
print(result)

['gour', 'radha', 'krishna', 'balaram']

In [178]:
import numpy as np
import random
import string

def generate_random_password(length=8): 
    charater = string.ascii_letters + string.digits +string.punctuation
    password = "".join(random.choice(charater) for i in range(length))
    return password

generate_random_password()

';kx/rni*'

In [188]:
import math
def is_perfect_square(n):
    square_root = math.sqrt(n)
    
    if square_root**2 ==n:
        return "perfect square"
    
    else :
        return "not a perfect square"
    
is_perfect_square(36)

'perfect square'

In [196]:
def find_missing_num(consecutive_list):
    n = len(consecutive_list)+1
    
    expected_sum = n*(n+1)//2
    
    actual_sum = sum(consecutive_list)
    
    missing_number = expected_sum - actual_sum
    
    return missing_number

find_missing_num([1,3,4,5])

2

In [219]:
def is_panagram(s):
    alphabet_set = set("abcdefghijklmnopqrstuvwxyz")
    sentense_set = set(s.lower())
    
    if alphabet_set.issubset(sentense_set):
        return "panagram"
    else:
        return "not a panagram"
    
is_panagram("The quick brown fox jumps over the lazy dog.")

'panagram'

In [221]:
def is_pangram(sentence):
    alphabet = "abcdefghijklmnopqrstuvwxyz"
    sentence_lower = sentence.lower()

    for char in alphabet:
        if char not in sentence_lower:
            return "not a panagram"

    return "panagram"


test_sentence = "The quick brown fox jumps over the lazy dog."
is_pangram(test_sentence)

'panagram'

In [213]:
b = ['q', 'v', 'b', 's', 'o', 'l', 'n', ' ', 'c', 'y', 'i', 'k', 'd', 'x', '.', 'm', 'p', 'e', 'r', 'u', 'w', 'z', 'g', 'a', 'f', 'h', 'j', 't']

In [225]:
len(set(b))

28

In [230]:
def merge_dict(d,d1):
    d.update(d1)
    return d


d = {"key1" : 123, "key2": 345}
d1 = {"key3": 566, "key4" : 904}

merge_dict(d,d1)

{'key1': 123, 'key2': 345, 'key3': 566, 'key4': 904}

In [235]:
# Method 1: Using update()
def merge_dicts_method1(d1, d2):
    merged_dict = d1.copy()
    merged_dict.update(d2)
    return merged_dict

dict1 = {'a': 1, 'b': 2}
dict2 = {'b': 3, 'c': 4}

merged_dict1 = merge_dicts_method1(dict1, dict2)
print("Merged Dictionary (Method 1):", merged_dict1)

Merged Dictionary (Method 1): {'a': 1, 'b': 3, 'c': 4}

In [236]:
def merge_dicts_method2(d1, d2):
    return {**d1, **d2}

# Example dictionaries
dict1 = {'a': 1, 'b': 2}
dict2 = {'b': 3, 'c': 4}

merged_dict2 = merge_dicts_method2(dict1, dict2)
print(merged_dict2)

{'a': 1, 'b': 3, 'c': 4}

In [271]:
from collections import Counter

def most_frequent_element1(l):
    counter = Counter(l)
    most_frequent = counter.most_common()
    return most_frequent[0][0]

most_frequent_element1([1, 2, 3, 2, 2, 4, 5, 1, 2, 6, 6, 6, 6])

2

In [276]:
from collections import Counter
my_list = [1, 2, 3, 2, 2, 4, 5, 1, 2, 6, 6, 6, 6]
counter = Counter(my_list)
print(counter)

#counter.most_common(1)
#print(most_common)
counter.keys(), counter.values()
#counter.items()
print(max(counter.values()))

Counter({2: 4, 6: 4, 1: 2, 3: 1, 4: 1, 5: 1})
4

In [284]:
from collections import Counter

def most_frequent(l):
    counter = Counter(l)
    max_count = max(counter.values())
    print(max_count)
    
    most_frequent = [element for element, count in counter.items() if count==max_count]
    return most_frequent

most_frequent([1, 2, 3, 2, 2, 4, 5, 1, 2, 6, 6, 6, 6])

4

[2, 6]

In [301]:
def count_vowels_consonents1(s):
    vowels = set("aeiouAEIOU")
    
    vowel_total = sum(1 for i in s if i in vowels)
    
    consonant_total = sum(1 for i in s if i.isalpha() and i not in vowels)
    return f"vowel_count: {vowel_total}", f"consonent_count : {consonant_total}"

count_vowels_consonents1("HARE Krishna hare krishna krishna krishna hare hare , hare ram hare Ram ram ram hare hare")

('vowel_count: 28', 'consonent_count : 44')

In [304]:
import statistics

def calculate_median(lst):
    try:
        median_value = statistics.median(lst)
        return median_value
    except statistics.StatisticsError:
        return None


calculate_median([4, 7, 1, 9, 3, 5, 2])

4

In [305]:
def concatenate_chars(input_count, characters):
    num_chars = int(input_count)
    input_chars = characters.split()[:num_chars]
    if len(input_chars) != num_chars:
        print("Error: Please enter exactly", num_chars, "characters.")
        return None
    return ''.join(input_chars)


input_count = 4
characters = 'o m a r'  


result = concatenate_chars(input_count, characters)
if result:
    print(result)

omar

In [17]:
def test(l):
    max_no = max(l)
    
    l = [i for i in l if i!=max_no]
    for i in l:
        return max(l)
    
test([2, 3, 4, 5, 6, 7, 8])

7

In [20]:
def test2(l):
    first_no = 0
    second_no = 0
    
    for i in l:
        if i > first_no: 
            second_no = first_no
            first_no = i
            
        elif i > second_no & i < first_no:
            second_no = i
            
    return second_no


test2([2, 3, 4, 5, 6, 7, 8])

7